.App {
  text-align: center;
  margin: 5%;
  display: grid;
  grid-template-columns: 80% 20%;
}

.loading {
  margin: 5% 20%;
  font-size: 2em;
  color: green;
}

.donationContainer{
  display: inline;
}

.donationCard{
  display: block;
}



