.App {
  text-align: center;
  margin: 2%;
}

.loading {
  margin: 5% 20%;
  font-size: 2em;
  color: black;
}

.donation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: olivedrab
}

.donation-card {
  display: block;
  background-color:  white;
}

.animal-container {
  display: grid;
  margin-top: 30px;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.animal-card {
  display: block;
  padding: 15px;
  border: black 3px solid;
  font-size: 1.2em;
  background-color: white;
}

.animal-image {
  max-width: 250px;
  max-height: 250px;
}

.animal-name {
  font-weight: bold;
}



